name: build-docs

on:
  push:
    branches:
      - main
    paths:
      - 'pyproject.toml'
      - 'docs/**'
      - 'src/**'
      - '.github/workflows/docs.yml'
  workflow_dispatch:

      

# This job installs dependencies, builds the book, and pushes it to `gh-pages`
jobs:
  deploy-book:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
          ref: main       # Replace with your branch

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip' # Enable caching for pip dependencies

      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - run: python -m pip install -e .[dev]
      - run: cd docs && jupyter-book build --html --ci
        env:
          BASE_URL: /${{ github.event.repository.name }}/

      # Push the book's HTML to github-pages
      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html
          enable_jekyll: false
